doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Quiz
    link(rel='stylesheet', href='/style.css')
  body
    h1 Get Divide
    input#input(type='text' placeholder='enter inputs')
    button#go Go

    #boxes

    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/mathdivide.js')
